body {
  font-family: 'Roboto', sans-serif;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  padding: 1em;
}

#success-message {
  background-color: #41C078;
  border-radius: 4px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 1.25em;
  font-weight: 700;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  padding: 1em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 25%;
  text-transform: uppercase;
  visibility: hidden;
  width: 50%;
}

#search-input {
  border: 1px solid #333;
  font-size: 1.25em;
  outline: none;
  padding: 1em;
  width: 100%;
}

#results {
  margin-top: 3em;
}

#results .result {
  background-color: #fefefe;
  border: 1px solid #333;
  cursor: pointer;
  font-size: 1.25em;
  margin-bottom: 1em;
  padding: 1.5em;
}
#results .result:hover {
  background-color: #333;
  color: #fff;
}
